html {
  margin: 0;
}

span {
  display: block;
}

.button {
  width: 100px;
  height: 100px;
  border-radius: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}
#red {
  background: red;
}
#yellow {
  background: yellow;
}
#green {
  background: green;
}
